USE [master]
GO
/****** Object:  Database [Словарь]    Script Date: 31.03.2024 10:13:16 ******/
CREATE DATABASE [Словарь]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Словарь', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2\MSSQL\DATA\Словарь.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Словарь_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS2\MSSQL\DATA\Словарь_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Словарь].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Словарь]
GO
/****** Object:  Table [dbo].[Термины]    Script Date: 31.03.2024 10:13:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Термины](
	[Понятие] [text] NOT NULL,
	[Определение] [text] NOT NULL,
	[Источник] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
